/* Styles that are universal to all pages */

@font-face {
    font-family: Jersey;
    src: url(../fonts/Jersey.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jersey, Arial, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000000;
    font-size: 16px;
}

#mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    max-height: 100vh;
    padding: 2rem 2rem 0rem 2rem;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navList {
    list-style-type: none;
    margin-bottom: 0.75rem;
}

.navListItem {
    display: inline;
    margin: 0 0.75rem;
}

.navListItem > a {
    text-decoration: none;
    font-size: 1.25rem;
}

.navListItem>a:hover {
    text-decoration: underline;
}

#footerText {
    color: #9a9a9a;
    text-align: center;
    padding-bottom: 2rem;
}

video {
    max-width: 90%;
    height: auto;
    border: 5px solid #333;
    border-radius: 10px;
    margin: auto 0;
}

/* Optimize navbar for mobile */
@media (max-width: 700px) {
    .navListItem {
        display: block;
        margin: 0.25rem 0;
        padding: 0;
    }
}