h1 {
    margin-bottom: 1rem;
}

button {
    margin-top: 1rem;
}

#footer {
    margin-top: auto;
}

#subContent {
    margin-top: auto;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 2rem;
    margin-bottom: 1.35rem;
}

ul {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

li {
    font-size: 1.25rem;
    padding: 0.25rem 0;
}

a > img {
    height: 1rem;
    margin-left: 0.25rem;
    vertical-align: middle;
}