#logo {
    max-height: 50%;
    width: auto;
    margin-top: auto;
}

button {
    margin: auto 0;
    padding: 10px 20px;
    border: #ffffff solid 2px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    cursor: pointer;
    background-color: #000000;
}

button:hover {
    box-shadow: 3px 3px white;
}
button:hover > #buttonTextContainer > #buttonText {
    text-decoration: underline;
}

#buttonText {
    font-size: 1.5rem;
}

#buttonSubtext {
    font-size: 1.15rem;
    color: #9a9a9a;
    text-align: left;
}

#downloadLogo {
    width: 1.75rem;
    height: auto;
}