#devlog {
    margin-bottom: 2rem;
}

h2 {
    margin: 1rem 0 0.5rem;
}

p {
    font-size: 1.25rem;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #9a9a9a;
    margin-top: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}