.teamMember {
    border: #ffffff solid 2px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.75rem;
}

.teamMemberInitials {
    font-size: 2rem;
    font-weight: bold;
}

.teamMemberName {
    font-size: 1.5rem;
}

.teamMemberRole {
    font-size: 1rem;
    color: #9a9a9a;
}

h1 {
    margin-top: auto;
    text-align: center;
}

#teamGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

#footer {
    margin-top: auto;
}

#mainContent {
    gap: 1rem;
}

/* Optimize grid for tablet */
@media (max-width: 1000px) {
    #teamGrid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Optimize grid for mobile */
@media (max-width: 700px) {
    #teamGrid {
        grid-template-columns: 1fr;
        width: 100%;
    }
}